.hero {
    background: linear-gradient(90deg, $orange-color 50%, $white-color 50%);
    @media screen and (max-width: 768px) {
        background: linear-gradient(90deg, $orange-color 100%);
    }
    .hero-img {
        width: 660px;
        height: 547px;
        @media screen and (max-width: 1300px) {
            width: 460px;
            height: 347px;
        }
        @media screen and (max-width: 1000px) {
            width: 360px;
            height: 247px;
        }
    }
    .hero-img-two {
        width: 406px;
        height: 306px;
    }
}

.portofilio {
    background: $orange-color;
}